<html>
    <head>
        <%- include("./layouts/head-imports.ejs") %>
    </head>
    <body >
        <%- include("./layouts/nav.ejs") %>
        <div class="center column">
            <h1>Page not found</h1>
            <h2>We're sorry, we couldn't find the page you requested.</h2>
        </div>
    </body>
</html>
