<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include("./layouts/nav.ejs") %>
        <div class="main">
            <%- include("./layouts/project-nav.ejs") %>
            <div class="dashboard">
                <div class="ticket-numbers">
                    <span>
                        <h1>Image</h1>
                        <h2>Total Tickets</h2>
                        <h2>248</h2>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
