<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body class="main-gradient">
        <form class="auth column" method="POST">
            <h1>Start bug tracking your application with us!</h1>
            <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce consectetuer risus a nunc. Pellentesque ipsum.</h5>
            <input class="btn-colored-line" type="text" placeholder="First name" name="fname">
            <input class="btn-colored-line" type="text" placeholder="Last name" name="lname">
            <input class="btn-colored-line" type="email" placeholder="Email" name="email">
            <input class="btn-colored-line" type="password" placeholder="Password" name="psw">
            <input class="btn-colored-line" type="password" placeholder="Confirm password" name="pswc">
            <input class="btn-rounded-blue-invert" type="submit" value="Get started">
            <span>Already have an account? <a class="highlight" href="/signin">Log in</a></span>
        </form>
    </body>
</html>
