<div class="navigation main-gradient bottom-line">
    <a>BugTracker</a>
    <div>
        <a href="/">HOME</a>
        <button class="btn-empty"><i class="fas fa-bell"></i></button>
        <a href="/u/<%= uid %>"> <%= uname %> </a>
    </div>
</div>
